################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MauiRefTest/FileContentIndex
/MauiApp1/obj
/MauiApp1/MauiApp1.csproj.user
/MauiLib1/obj
